<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">
	    
	    <p>
	    	Suppose we are in an alien world. Everything here seems to be crazy!
        </p>

        <p>
            We are going to visit two factories: factory A and factory B. 
        </p>

        <div align="center">
            <img src="{{ server_location }}/static/images/machine1.jpg" width="400">
            <img src="{{ server_location }}/static/images/machine2.jpg" width="400">
        </div>

        <p>
            They both use the same raw material:
        </p>
        
        <div align="center">
            <img src="{{ server_location }}/static/images/1.jpg" width="80">
        </div>

        <p>
            All of us have no idea about what exactly is happening inside the factories. Your job in this task is to guess what the final product will be.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
