<div id="container-exp">
	<div id="trial">
		<div id="stim">
			<div id="page1">
				<p>Let's start at factory A.</p>
				<div>
					<img src="{{ server_location }}/static/images/machine2.png" width="400">
				</div>
				<p>You will be asked to guess which product would be the most likely one.</p>
			<a href="#" class="button" id="button1">Click to continue</a>
			</div>
			<div id="page2">
				<p><b>Please anser the question.</b></p>
				<p>Which product do you think is the most likely one?</p>
				<div>
					<img src="{{ server_location }}/static/images/machine2.png" width="50%">
				</div>
				<div class="optionbox">
					<div class="options"><img src="{{ server_location }}/static/images/1.jpg" height="80" width="80">
					<p>raw material</p>
					</div>
					<div class="highbox"></div>
					<div class="options"><img src="{{ server_location }}/static/images/1.jpg" height="80" width="80"><a href="#" class="button change1" id="option1">Ball 1</a></div>
					<div class="options"><img src="{{ server_location }}/static/images/2.jpg" height="80" width="80"><a href="#" class="button change1" id="option2">Ball 2</a></div>
					<div class="options"><img src="{{ server_location }}/static/images/3.jpg" height="80" width="80"><a href="#" class="button change1" id="option3">Ball 3</a></div>
					<div class="options"><img src="{{ server_location }}/static/images/4.jpg" height="80" width="80"><a href="#" class="button change1" id="option4">Ball 4</a></div>
					<div class="options"><img src="{{ server_location }}/static/images/5.jpg" height="80" width="80"><a href="#" class="button change1" id="option5">Ball 5</a></div>
				</div>
			</div>
			<div id="page3">
				<div class="takeplace"></div>
				<p><b>Great! Now we are going to visit factory B.</b></p>
				<div class="takeplace"></div>
				<a href="#" class="button" id="button2">Click to continue</a>
			</div>
			<div id="page4">
				<p>Here is factory B. It uses the same raw material as factory A.</p>
				<div>
					<img src="{{ server_location }}/static/images/machine1.png" width="400">
				</div>
				<p>You will be asked to guess which product would be most likely.</p>
			<a href="#" class="button" id="button3">Click to continue</a>
			</div>
			<div id="page5">
				<p><b>Please anser the question.</b></p>
				<p>Which product do you think is the most likely one?</p>
				<div>
					<img src="{{ server_location }}/static/images/machine1.png" width="50%">
				</div>
				<div class="optionbox">
					<div class="options"><img src="{{ server_location }}/static/images/1.jpg" height="80" width="80">
					<p>raw material</p>
					</div>
					<div class="highbox"></div>
					<div class="options"><img src="{{ server_location }}/static/images/1.jpg" height="80" width="80"><a href="#" class="button change2" id="option6">Ball 1</a></div>
					<div class="options"><img src="{{ server_location }}/static/images/2.jpg" height="80" width="80"><a href="#" class="button change2" id="option7">Ball 2</a></div>
					<div class="options"><img src="{{ server_location }}/static/images/3.jpg" height="80" width="80"><a href="#" class="button change2" id="option8">Ball 3</a></div>
					<div class="options"><img src="{{ server_location }}/static/images/4.jpg" height="80" width="80"><a href="#" class="button change2" id="option9">Ball 4</a></div>
					<div class="options"><img src="{{ server_location }}/static/images/5.jpg" height="80" width="80"><a href="#" class="button change2" id="option10">Ball 5</a></div>
				</div>
			</div>

		</div>
		<div id="query"></div>
	</div>
</div>
